@import "tailwindcss";
@import "fumadocs-ui/css/solar.css";
@import "fumadocs-ui/css/preset.css";

@theme {
  --text-brand: #dd7627;
}

.dark {
  --text-brand: #fff383;
}

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

.text-brand {
  color: var(--text-brand);
}

.brand-background {
  background-color: var(--text-brand);
}
